h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {

    min-width: 200px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.add-to-cart {
    padding: 10px;
    background-color: grey;
    display: block;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}